<%- include('header'); -%>
    <header>
        <h1>twister</h1>
        <div class="auth-panel">
            <% if (session.authorized) { %>
               <%= session.login %>
               <a href="/logout">Log out</a>
            <% } else { %>
                <a href="/register">Registration</a>
                <a href="/login">Log In</a>
            <% } %>
        </div>    
    </header>
        <ul> 
            <% for (const twit of twits) { %>
                <li><%= twit.message %></li>
                
                    <form action="/twit/<%= twit.id %>/delete" method="POST">
                        <input type="submit" value="Delete Twit">
                    </form>
                
            <% } %>
        </ul>
        <% if (session.authorized) { %>
            <form action="/" method="POST">
                <textarea name="message"></textarea>
                <input type="submit" value="Twit">
            </form>
        <% } %>
<%- include('footer'); -%>