<%- include('header'); -%>
    <header>
        <h1>twister</h1>
        <div class="auth-panel">
            <% if (session.authorized) { %>
               <%= session.login %>
               <a href="/logout">Log out</a>
            <% } else { %>
                <a href="/register">Registration</a>
                <a href="/login">Log In</a>
            <% } %>
        </div>    
    </header>
        <ul id="twits"> 
            <!--
            <% for (const twit of twits) { %>
                <li><%= twit.message %></li>
                <% if (session.userAdm) { %>
                    <form action="/twit/<%= twit.id %>/delete" method="POST">
                        <input type="submit" value="delete twit">
                    </form>    
                <% } else if (session.userId == twit.userId) { %>
                    <form action="/twit/<%= twit.id %>/delete" method="POST">
                        <input type="submit" value="delete twit">
                    </form>
                    <form action="/twit/<%= twit.id %>/update" method="POST">
                        <input type="submit" value="update">
                    </form>
                <% } %>
            <% } %>
            -->
        </ul>
        <% if (session.authorized) { %>
            <form id="twitForm" action="/" method="POST">
                <textarea name="message"></textarea>
                <input type="submit" value="Twit">
            </form>
        <% } %>
<%- include('footer'); -%>